<h1>Friends App index page</h1>
This is page allows you to add and edit your friends contact information!

<p>Find me in app/views/home/index.html.erb</p>


<p>Go to localhost:3000/friends/new to add a new friend and /friends to check out the list</p>

<ol>
	<li> Add your friends on Add Friend </li>
	<li> Edit their contact information </li>
	<li> Keep everything organized and up to date </li>
</ol>

<p>Make sure to keep in touch with all of them!</p>
